body{
    background-color: rgb(194, 204, 218);
}

.header{
    background-color: rgb(53, 53, 53);
}

.filter-number{
    max-width: 4rem;
}

.filter-number::-webkit-outer-spin-button,
.filter-number::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.filter-number[type=number] {
    -moz-appearance: textfield;
}